@import "./variables";

html {
  background: $color-bg;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

input {
  width: 100%;
  padding: 10px;
  border: $border;
  border-radius: $border-radius;
  box-sizing: border-box;
  transition: border-color $transition-time;
  font-family: inherit;

  &:focus {
    border-color: $color-primary;
    outline: none;
  }
}
